$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "compass/css3";
 
@include font-face("NYC1970", font-files("ChaletNewYorkNineteenSeventy.ttf"));
 
* {
  font-family: "NYC1970";
}


body {
  position: absolute;
  height:100%;width:100%;
  padding:0;margin:0;
  overflow-x: hidden;
}

a {
  color: dodgerblue;
  text-decoration: none !important;
  &:hover {
    color: beige;
  }
}

hr {
  border-top-color: dodgerblue;
  width: 70%;
}

nav.navbar-default {
  position:fixed;
  left:0;right:0;
  z-index: 3;
  background: transparent !important;
  border: none;
  border-radius:0;
  margin-bottom: 0 !important;
  .navbar-header {
    .navbar-brand {
      margin-top:40px;
      strong {
        font-size:128px;
        color:white !important;
        text-shadow: 6px 6px 3px dodgerblue;
      }
      small {
        margin-left:25px;
        font-size:64px;
        color: white;
        text-shadow: 6px 6px 3px #CF5300;
      }
    }
  }
  .navbar-collapse {
    background: transparent !important;
    border-bottom: none;
    .social-links{padding:5px 10px;display:inline;}
  }

  .social-links, 
  .page-links {
    font-size: 36px;
    text-decoration: none;
    span {
      color: dodgerblue;      
    }
    &:hover {
      span {
        color: #CF5300; 
      }
    }
  }
}

div[id$="ContentContainer"] {
  background: url('/images/aboutBanner.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  height:100%;
  overflow: hidden;
  position:fixed;
  top:0;left:0;right:0;
  div[class$="-content-wrapper"] {
    div[id$="Jumbotron"] {
      color: black;
      overflow-x: hidden !important;
      overflow-y: scroll !important;
      h1 {
        color:#CF5300;
        text-shadow: 2px 2px black;
        position:absolute;
        bottom:5px;
        right:15px;
        font-size:8em;
        border-bottom: 10px solid dodgerblue;
      }
    }

    .container {
      position: absolute;
      background: rgba(dodgerblue,0.6);
      bottom:15px; 
      left:15px; 
      top:20%;
      padding:5px;
      border-radius:4px;
      overflow-y: scroll;
      overflow-x: hidden;
      width:36%;
      z-index: 500;
    }

    .thumbnail {
      background: none !important;
      border: none;
      img {
        // border: 2px solid black;
        margin: 0 auto !important;
        &:hover {
          cursor:pointer;
          opacity: 0.9;
          // border-bottom:2px solid dodgerblue;
        }
      }
    }

  }

  #style-9::-webkit-scrollbar-track
  {
  -webkit-box-shadow: inset 0 0 6px rgba(dodgerblue,0.3);
  background-color: rgba(dodgerblue,0);
  }
  #style-9::-webkit-scrollbar
  {
  width: 12px;
  }

  #style-9::-webkit-scrollbar-thumb
  {
  background-color: dodgerblue;
  }
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
  z-index:100;
  #SkylineBanner {
    position:fixed;
    left:-100px;
    bottom:-45px;
    padding: 5px;
    overflow: hidden;
    opacity: 0.45;
    z-index: 200;
    width:99%;
  }
  #SocialFooterLinks {
    position:relative;
    font-size:36px;
    span {
      color: dodgerblue;      
      &:hover {
        pointer:cursor;
        color:#CF5300 !important; 
      }
    }
    z-index:300;
  }
} 


#TopParallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 6;
    transform: translateY(0%);
    #SplashScreenLogo {
      margin-top:40px;
      strong {
        font-size:128px;
        color:white !important;
        text-shadow: 6px 6px 3px dodgerblue;
      }
      small {
        margin-left:25px;
        font-size:64px;
        color: white;
        text-shadow: 6px 6px 3px #CF5300;
      }
    }
}

#MiddleParallax {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 4;
}

#BottomParallax {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 4;
    transform: translateY(200%);  
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
