$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "compass/css3";
 
@include font-face("NYC1970", font-files("ChaletNewYorkNineteenSeventy.ttf"));
 
// globals
  * {
    font-family: "NYC1970";
  }
  body {
    position: absolute;
    height:100%;width:100%;
    padding:0;margin:0;
  }
  a {
    color: dodgerblue;
    text-decoration: none !important;
    &:hover {
      color: beige;
    }
  }
  hr {
    border-top-color: dodgerblue;
    width: 70%;
  }

// primary navbar header
nav.navbar-default {
  position: fixed;
  left:0;right:0;
  z-index: 1000;
  background: transparent !important;
  border: none;
  border-radius:0;
  margin-bottom: 0 !important;
  .navbar-header {
    .navbar-brand {
      margin-top:40px;
      strong {
        font-size:128px;
        color:white !important;
        text-shadow: 6px 6px 3px dodgerblue;
      }
      small {
        margin-left:25px;
        font-size:64px;
        color: white;
        text-shadow: 6px 6px 3px #CF5300;
      }
    }
  }
  .navbar-collapse {
    background: transparent !important;
    border-bottom: none;
    .social-links{padding:5px 10px;display:inline;}
  }

  .social-links, 
  .page-links {
    font-size: 36px;
    text-decoration: none;
    span {
      color: dodgerblue;      
    }
    &:hover {
      span {
        color: #CF5300; 
      }
    }
  }
}



#RootContentWrapper {

  div[id$="ContentContainer"] {
    div[class$="-content-wrapper"] {
      .container {
        // position: relative;
        background: rgba(#CF5300, 0.5);
        bottom: 0;
        left: 0;
        right: 50%;
        top: 0;
        width: 3000px;
        padding: 5px;
        border-radius: 4px;
        overflow-y: hidden !important;
        overflow-x: scroll !important;
        z-index: 500;
        }
      div[id$="Jumbotron"] {
        position:fixed;
        top:63%;
        bottom: 0;
        left: 0;
        right: 0;
        color: black;
        .jumbotron {
          height:63%;
          overflow: hidden;
          position:fixed;
          top:0;left:0;right:0;
          h1 {
            color:#CF5300;
            text-shadow: 2px 2px black;
            position:absolute;
            bottom:5px;
            right:15px;
            font-size:8em;
            border-bottom: 10px solid dodgerblue;
          }
        }
      }


      #style-9::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(#CF5300,0.3);
        background-color: hotpink;
      }
      #style-9::-webkit-scrollbar
      {
        height: 60px;
        width: 3000px;
      }
      #style-9::-webkit-scrollbar-thumb
      {
        background-color: #CF5300;
      }

      .thumbnail {
        background: none !important;
        border: none;
        img {
          margin: 0 auto !important;
          &:hover {
            cursor:pointer;
            opacity: 0.8;
            // border-bottom:2px solid dodgerblue;
          }
        }
      }
    }
  }

}

footer {
    position:fixed;
    bottom:-15px;
    left:0;
    right:0;
    z-index:100;
    .row {
      position:absolute;left:0;bottom:0;right:0;
      overflow-x:scroll;overflow-y: hidden;
    }
    #CreditsContentWrapper{
      overflow-y: hidden;
      #TickerTape{
        display: flex;
        li {
          padding:0;
          img{
            height: 100%;
            width: auto;
          }
        }
      }
      #ScrollbarStyleMaster::-webkit-scrollbar-track
      {
        box-shadow: inset 0 12px 12px 12px rgba(seagreen,1);
        -webkit-box-shadow: inset 0 0 8px rgba(yellow,0.9);
        background-color: hotpink;
      }
      #ScrollbarStyleMaster::-webkit-scrollbar
      {
        height: 10px;
        width: 50px;
      }
      #ScrollbarStyleMaster::-webkit-scrollbar-thumb
      {
        background-color: #CF5300;
      }
    }
  }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
