<div id="AboutContentContainer">
  <div id="style-9" class="about-content-wrapper">
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h1 class="text-center">about</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <section id="history">
        <div class="row">
          <p>
          <div class="col-xs-4">
            <img class="img-responsive" src="/images/whoami.jpeg">
          </div>
          <div class="col-xs-8">
            ​ERIC 'ERK' VARGAS
            <br>       
            <br>       
            ​Hailing from the Lower East Side of Manhattan, super producer Eric Vargas continues to make a significant impact upon the music industry. Eric’s music career interest began at the tender age of six years old, as he was constantly surrounded by music his Dad would play from the radio or his cd collection. He would not only be interested in the person singing, but would soon realize that the originality of the beat was the defining factor between "classics" and songs. As he developed a deeper appreciation for production his parents saw his interest in music and got him his very first keyboard, a Casio which then he began to teach himself how to use synthesizers and sequencers to make music.
          </p>
          </div>
        </div>
      </section>
      <section id="asdfa">
        <div class="row">
          <div class="col-xs-12">
            <p>
            Having contributed productions for albums released by recording artists such as: 
            Bone Thugs N Harmony, DMX, Cassidy, Fabolous, Lil’ Wayne, Busta Rhymes to name a few, Eric has accomplished a lot at a very young age. At 23, his focus and dedication turned to sound displays, his sincere concern for the quality of the sounds in music that is being produced grew. Continuously inspired, Eric seeks to create a legacy all on his own. He says, “Im just focused on my craft right now. Trying to be like the greats!”
            <br>       
            <br>       
            Legends are not created, they are born. They are people who realize that they have the ability to accomplish the extraordinary. Eric's perseverance and strong desire has made him a talent to watch. He has built a solid foundation to create a legacy that will impact the lives of other artists for years to come.
            <br>       
            <br>       
            ​Eric’s talent for audio does not stop there. Working in the music business has made it easy for him to translate more in to the commercial, film and television side of the industry. When he is not in his own recording studio in NYC, he works actively on film sets, and closely with directors and producers as a sound mixer to create the best possible audio for these productions. With his musical background, Eric has a stronger ear for all things audio related making him an asset to any team he is a part of.
            </p>
          </div>
        </div>
        </section>
      </div>
      </div>
    </div>
  </div>
</div>