<div id="MainContentContainer">
  <div id="style-9" class="main-content-wrapper">
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h1  class="text-center">credit</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/1.jpg" height="100%" width="auto">
            <!-- <div class="caption"></div> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/2.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/3.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/4.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/5.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/6.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/7.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/8.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/9.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/10.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/11.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/12.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/13.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/14.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/15.jpg" height="100%" width="auto">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="thumbnail">
            <img class="img-responsive center-block" src="/images/16.jpg" height="100%" width="auto">
          </div>
        </div>
      </div>  
    </div>
  </div>
</div><!-- end #MainContentContainer -->